@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
  body {
    background: white;
  }

  .no-print {
    display: none !important;
  }

  .resume-page {
    box-shadow: none !important;
    padding: 0 !important;
  }
}
